<strong>Olá {{ organizer }},</strong>
<p>{{ user }} se inscreveu em seu Meetup: <b> {{ meetup }} </b></p>
<p>
  <strong>Meetup:</strong> {{ date }} <br />
  <br />
  <small>
    Obrigado!
  </small>
</p>
